{% extends 'distribution/layout.html' %}

{% block title %}Books{% endblock %}

{% block content %}

<style>
    .paginate_button {
        background-color: white !important;
        border-color: #FFFFFF !important;
        color: #FFFFFF !important;
        padding: unset !important;
    }

    #navbar .navbar-nav > li.home > a {
        background: #da4d4d !important;
        color: #fff !important;
        text-decoration: none !important;
        border-color: #ca2a2a !important;
    }

    mark {
        padding: 0;
        color: red;
    }

    div.dataTables_length select {
        width: -webkit-fill-available !important;
    }

    .paginate_button:hover {
        background-color: white !important;
    }

    .dataTables_filter {
        text-align: center !important;
        float: none !important;
        margin-right: 2%;
    }

    div.dt-buttons {
        float: right;
    }

    .products-big {
        margin-left: 5%;
    }

    .dt-button {
        padding: 0.5rem 0.75rem !important;
        line-height: 1.25 !important;
        color: #da4d4d !important;
        background-color: #fff !important;
        border: 1px solid #dee2e6 !important;
    }
</style>
<div id="heading-breadcrumbs">
    <div class="container">
        <div class="row d-flex align-items-center flex-wrap">
            <div class="col-md-7">
                <h1 class="h2">Books Category</h1>
            </div>
            <div class="col-md-5">
                <ul class="breadcrumb d-flex justify-content-end">
                    <li class="breadcrumb-item"><a href="{{ url_for('home') }}">Home</a></li>
                    <li class="breadcrumb-item active">Books Category</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div id="content">
    <div class="container">
        <div class="row bar">
            <div class="col-md-12">
                <p class="text-muted lead text-center">In our Books department we offer wide selection of the best
                    Books we have found and carefully selected worldwide.</p>
                <div class="products-big text-center">
                    <div class="row products">
                        <div class="row">
                            <div>
                                <table id='datatable_searches' class='display dataTable' width='100%'>
                                    <thead>
                                    <tr>
                                        <th>Book Title</th>
                                        <th>Authors</th>
                                        <th>Publication Date</th>
                                        <th>Book Genres</th>
                                        <th>Plot Summary</th>
                                    </tr>
                                    </thead>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        getData();

    });

    function getData() {

        $.ajax({
            type: "POST",
            url: '/booksreco',
            processing: true,
            serverSide: true,
            data: {
                id_user: "{{id_user}}",
                number_reco: "{{number_reco}}",
                book_name: "{{book_name}}"
            },
            success: function (data) {
                console.log('entro s');
                // console.log(data);
                if (data["response"] === 1) {
                    console.log(data);
                    $('#datatable_searches').DataTable({
                        data: data["aaData"],
                        dom: '<Blf<t>ip>',
                        sort: false,
                        mark: {
                            diacritics: true
                        },
                        // dom: 'Bfrtip',
                        buttons: [
                            {extend: 'copyHtml5', className: "page-item page-link"},
                            'excelHtml5',
                            'csvHtml5',
                            'pdfHtml5'
                        ],
                        language: {
                            search: "<i class='fas fa-search'></i>",
                            searchPlaceholder: "Detailed Search",
                        }
                    });

                } else if (data["response"] === 2) {
                    // swal({
                    //     title: 'Error',
                    //     text: "An error has ocurred during the process to get the recommendations.",
                    //     type: 'warning',
                    //     confirmButtonClass: 'btn btn-success',
                    //     confirmButtonText: "<a href='"+home+"'  style='color:white;'><i class='fab fa-error' " +
                    //         "style='display: inline-block;margin-right: 0.7em;'></i>Aceptar</a>"
                    //
                    //
                    // });

                }
            },
            error: function (data) {
                console.log('entro_error');

                console.log(data);
            },
        })

    }

</script>

{% endblock %}